<nav>
	<%= image_tag("prog-nerd.jpg", class:"logo") %>
	<p>Apuntes y opiniones desde el punto de vista de un alumno.</p>

	<ul class="menu">
			<li class="active"><%= link_to(root_path) do %>Home<% end %></li>
			<li class="clickmenu"><a> Teoria de programacion<i class="fa fa-sort-down"></i></a>
				<ul class="submenu">
					<li>Link 1</li>
					<li>Link 2</li>
					<li>Link 3</li>
				</ul>
			</li>
			<li><%= link_to(root_path) do %> Lenguajes <% end %></li>
			<li><%= link_to(root_path) do %> Programacion Web <% end %></li>
			<li><%= link_to(root_path) do %> Programacion de juegos <% end %></li> 
			<li><%= link_to(root_path) do %> Contacto <% end %></li>
	</ul>

	<form id="searchbox" action="">
		<button type="submit" class="search_btn">
			<i class="fa fa-search"></i>
		</button>
		<input id="search" type="text" class="buscador" placeholder="Buscar aquí">
	</form>


	<div class="iconos-sociales">
		<a href="https://www.facebook.com" target="_blank">
			<i class="fa fa-facebook"></i>
		</a>
		<a href="https://www.twitter.com" target="_blank">
			<i class="fa fa-twitter"></i>
		</a>
		<a href="https://plus.google.com" target="_blank">
			<i class="fa fa-google-plus"></i>
		</a>
	</div>

</nav>