<nav>
	<%= link_to(root_path) do %>
		<%= image_tag("prog-nerd.jpg", class:"logo") %>
	<% end %>
	<p>Apuntes y opiniones desde el punto de vista de un alumno.</p>

	<ul class="menu">
			<li class="active"><%= link_to 'Home', (root_path) %></li>
			<li class="clickmenu"><a> Teoría de programación<i class="fa fa-sort-down"></i></a>
				<ul class="submenu">
					<li><a>Link 1</a></li>
					<li><a>Link 2</a></li>
					<li><a>Link 3</a></li>
				</ul>
			</li>
			<li><%= link_to(categoria_path) do %> Lenguajes <% end %></li>
			<li><%= link_to(root_path) do %> Programación Web <% end %></li>
			<li><%= link_to(root_path) do %> Programación de juegos <% end %></li> 
			<li><%= link_to 'Contacto', (root_path) %></li>
	</ul>

	<form id="searchbox" action="">
		<button type="submit" class="search_btn">
			<i class="fa fa-search"></i>
		</button>
		<input id="search" type="text" class="buscador" placeholder="Buscar aquí">
	</form>


	<div class="iconos-sociales">
		<a href="https://www.facebook.com" target="_blank">
			<i class="fa fa-facebook"></i>
		</a>
		<a href="https://www.twitter.com" target="_blank">
			<i class="fa fa-twitter"></i>
		</a>
		<a href="https://plus.google.com" target="_blank">
			<i class="fa fa-google-plus"></i>
		</a>
	</div>

</nav>