<div class="row">
	<div class="large-12 columns">
		<section>
			<div class="row">
				<div id="frases" class="large-10 large-offset-1 columns">
					<p>En Microsoft siempre estuvimos totalmente a favor del Open Source. Enseñar a los niños el uso de software libre en las escuelas, formará individuos con sentido de libertad.</p>
					<i>Bill Gates</i>
					<!-- <p>La mayoría de los buenos programadores programan no porque esperan que les paguen o que el público los adore, sino porque programar es divertido.</p>
					<i>Linus Torvalds</i> -->

				</div>
			</div>

			<div class="row">
				<div class="large-10 large-offset-1 columns nuevos-post">
					<h4>Nuevos Post</h4>
					<div class="orbit-container">
						<ul class="example-orbit" data-orbit>
							<li>
								<%= image_tag("img01.jpg", alt:"slide 1") %>
								<div class="orbit-caption">
									Caption One.
								</div>
							</li>
							<li>
								<%= image_tag("img02.jpg", alt:"slide 2") %>
								<div class="orbit-caption">
									Caption Two.
								</div>
							</li>
							<li>
								<%= image_tag("img03.jpg", alt:"slide 3") %>
								<div class="orbit-caption">
									Caption Three.
								</div>
							</li>
							<li>
								<%= image_tag("img01.jpg", alt:"slide 4") %>
								<div class="orbit-caption">
									Caption Four.
								</div>
							</li>
							<li>
								<%= image_tag("img02.jpg", alt:"slide 5") %>
								<div class="orbit-caption">
									Caption Five.
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns mas-visitados">
					<h4>Mas Visitados</h4>

			  	<% 3.times do %>
						<div class="large-8 large-offset-2 columns minipost">
							<div class="row">
								<h5>C: Funciones. Pasaje de parámetros por valor y por referencia</h5>
							</div>

							<div class="row">
								<%= image_tag("img02.jpg") %>
							</div>

							<div class="row">
								<div class="large-4 columns detalles">
									<span>
										<i class="fa fa-calendar"></i><p>Septh, 05th, 2013</p>
									</span>
									<span>
										<i class="fa fa-comments-o"></i><p>5 Comments</p>
									</span>
									<span>
										<i class="fa fa-share"></i><p>24 Shares</p>
									</span>
								</div>
								<div class="large-8 columns descripcion">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus, lectus quis accumsan ultrices, sapien nibh sodales neque, vitae lacinia orci odio vel mauris. Sed eget egestas quam, id imperdiet quam. In eleifend tempor erat, eget scelerisque tellus imperdiet nec. Fusce ornare porttitor ante.</p>
								</div>
							</div>

							<div class="row etiquetas">
								<a><i class="fa fa-tag"></i><p>Html5</p></a>
								<a><i class="fa fa-tag"></i><p>CSS3</p></a>
								<a><i class="fa fa-tag"></i><p>Jquery</p></a>
							</div>
						</div>
			  	<% end %>

				</div>
			</div>

			<div class="row">
				<div class="large-12 columns otros-post">
					<h4>Otros Post</h4>

					<% 3.times do %>
						<div class="large-8 large-offset-2 columns minipost">
							<div class="row">
								<h5>C: Funciones. Pasaje de parámetros por valor y por referencia</h5>
							</div>

							<div class="row">
								<%= image_tag("img01.jpg") %>
							</div>

							<div class="row">
								<div class="large-4 columns detalles">
									<span>
										<i class="fa fa-calendar"></i><p>Septh, 05th, 2013</p>
									</span>
									<span>
										<i class="fa fa-comments-o"></i><p>5 Comments</p>
									</span>
									<span>
										<i class="fa fa-share"></i><p>24 Shares</p>
									</span>
								</div>
								<div class="large-8 columns descripcion">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus, lectus quis accumsan ultrices, sapien nibh sodales neque, vitae lacinia orci odio vel mauris. Sed eget egestas quam, id imperdiet quam. In eleifend tempor erat, eget scelerisque tellus imperdiet nec. Fusce ornare porttitor ante.</p>
								</div>
							</div>

							<div class="row etiquetas">
								<a><i class="fa fa-tag"></i><p>Html5</p></a>
								<a><i class="fa fa-tag"></i><p>CSS3</p></a>
								<a><i class="fa fa-tag"></i><p>Jquery</p></a>
							</div>
						</div>
			  	<% end %>
				</div>
			</div>
		</section>
	</div>
</div>